.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb; /* light border */
  padding-right: 60px;
}


.logo{
  width: 200px;
}

.nav-item > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}
.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
}
.container{
display: flex;
flex-wrap: wrap;
  gap: 30px;
}  

.res-card{
  width: 260px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search{
  padding: 10px;
}
.card-image {
  position: relative;
  height: 170px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.offer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 8px;
}
.card-body {
  padding: 12px 4px;
}

.card-body h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}
.rating-time {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

.rating {
  color: #16a34a; /* green */
}
.cuisine,
.location {
  font-size: 14px;
  color: #6b7280;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards-container {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  padding: 20px 40px;
}
